# Redshift db user settings
DB_USER = ''
DB_HOST = ''
DB_PORT = ''
DB_PASS = ''
DB_NAME = ''
DB_GRANT_USER = ''

# AWS credentials to upload to S3 and load from S3 to Redshift
AWS = {
    'UPLOAD': {
        'ACCESS_KEY': '',
        'SECRET_KEY': '',
        'S3_BUCKET': '',
        'REGION': ''
    },
    'COPY': {
        'ACCESS_KEY': '',
        'SECRET_KEY': '',
        'S3_BUCKET': '',
        'REGION': None
    }
}
